@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAEAEC
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* The above CSS are default CSS, we just leave it for now. */

* {
  box-sizing: border-box;
}

/* By default, for mobile phone screen size: */

/* .wrapper is a class for all pages to have x-axis margin */
.wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

/*For color references */

.text-color {
  color: #FFFFFF
}

.background-color{
  background-color: #EAEAEC
}

.main-color{
  background-color: #F88812
}

.third-color{
  background-color: #0C151D
}

.accent-color{
  background-color: #C285FF
}

/*You may take the colors and 
apply to background or text color when needed */


/* ========== NAVBAR STARTS ========= */
/* ========== NAVBAR ENDS ========= */


.homepage-container{
  height:500px;
  max-height:500px;
  width:100%;
}

.container-test{
  background-color: blue; /*This is for testing empty div size */
  /*Don't use this class/remove this class once you done testing */
}





/* ========== HOMEPAGE CONTAINER ENDS ========= */


/* ========== PROFILE PAGE STARTS ========= */

.card-container{
  width:100%;
  border-top: 6px solid #F88812;
  margin-top:30px;
}

.profile-image{
  width:100%;
}



/* ========== PROFILE PAGE ENDS ========= */


@media only screen and (min-width: 600px) {

  /* View for tablet screen size: 
  Apply CSS here if you want tablet screen size only*/
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 768px) {

  /* View for desktop screen size: 
  Apply CSS here if you want desktop screen size only*/
  .wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }


}